.main-nav {
    background-color: #fff;
}

.main-nav-grid {
    display: flex;
    
}

#logo {
    display: flex;
    flex: 0 0 70%;
    width: 25px;
    justify-self: start;
    padding: 10px 5px;
    margin-left: 7px;
}

.nav-header {
    
   flex: 0 0 20%;
   justify-self: end;

}

ul {
    display: flex;
    list-style: none;
    
    
}


.image {
    width: 100px;
}

.item-1 {
    display: flex;
    flex: 0 0 100px;
    justify-self: flex-end;
    align-content: center;
    margin-top: 10px;
}
.item-2 {
    display: flex;
    flex: 0 0 100px;
    justify-self: flex-end; 
    align-self: end;
    margin-top: 10px;
}



